*{
    background-color: skyblue;
}

section{
    color: black;
   
}
img{
    width: 60px;
}

.selector{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
h1{
    color: black;
    text-align: center;
    font-family: sans-serif;
}


.esp{
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

#bot{
    color: skyblue;
}
h3{
    color: blue !important;
}

p2{
    color: red;
    text-align: center;
}
p3{
    color: blue;
    text-align: center;
}
p4{
    color: green;
    text-align: center;
}
p5{
    color: yellow;
    text-align: center;
}

div{
    color: blueviolet;
}
a{
    color: inherit;

}

p6{
    color: blue;
}

.ca{
    color:black;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

.here{
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}
